@model ada_mvc.Asistencias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mybtn {
        border: 1px solid #F06D7E;
        margin-bottom: 1rem;
    }

        .mybtn > a {
            color: #F06D7E;
        }
</style>
<h2>Eliminar de esta asistencia</h2>

<h3>¿Deseas eliminar este registro de asistencia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn mybtn">
                <a>
                    @Html.ActionLink("Regresar", "Index")
                </a>
            </div>
            <input style="margin-bottom: 1rem;" type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
